@model Presentation.Models.UserProfileViewModel
@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = _userManager.GetUserName(User);

    var user = await _userManager.GetUserAsync(User);

    bool emailConfirmed = await _userManager.IsEmailConfirmedAsync(user);
}

<div class="container mt-5 col-12 col-md-8 col-lg-6">
    <h2 class="mb-4" style="color: #004aad;">Your Profile</h2>

    <div class="card border-blue">
        <div class="card-body">
            <h4 class="card-title" style="color: #004aad;">Informations</h4>
            <hr style="color: #004aad;">

            <p><strong style="color: #004aad;">Username:</strong> @Model.Username</p>
            <p><strong style="color: #004aad;">Email:</strong> @Model.Email</p>

            @if (emailConfirmed)
            {
                <p class="text-success">Email confirmed</p>
            }
            else
            {
                <p class="text-warning">Email not confirmed, please confirm your email to use comments</p>
                <form asp-action="ResendConfirmationEmail" method="post">
                    <button type="submit" class="btn btn-pri-blue w-100">Resend Confirmation Email</button>
                </form>
            }
        </div>
    </div>
</div>
