@model Presentation.Models.CommentaryViewModel

@{
    ViewData["Title"] = "Post Comment";
    Model.CreatedDate = DateTime.Now;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 card border-blue">
            <div class="card-body">
                <h4 class="card-title" style="color: #004aad;">Post a New Comment</h4>
                <hr style="color: #004aad;">

                <form asp-action="New" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="PublisherId" type="hidden" />
                    <input asp-for="Username" type="hidden" />
                    <input asp-for="BookId" type="hidden" />

                    <div class="form-group mb-3">
                        <label asp-for="Comment" class="control-label"></label>
                        <textarea asp-for="Comment" class="form-control border-blue" rows="5"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="d-flex gap-3">
                                <a asp-controller="Commentary" asp-action="Index" asp-route-bookId="@Model.BookId" class="btn btn-sec-black">Return</a>
                                <input type="submit" value="Create" class="btn btn-pri-blue" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
