@model Presentation.Models.PageViewModel

@{
    ViewData["Title"] = "New Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 card border-blue">
            <div class="card-body">
                <h4 class="card-title" style="color: #004aad;">Create a New Page</h4>
                <hr style="color: #004aad;">

                <form asp-action="New" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="BookId" type="hidden" />
                    <div class="col-10 mx-auto mb-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control border-blue" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    

                    <div class="form-group mb-3">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="form-control border-blue" rows="10"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="d-flex gap-3">
                                @Html.ActionLink("Return", "Book", "Library",new { id = Model.BookId }, new { @class = "btn btn-sec-black" })
                                <input type="submit" value="Create" class="btn btn-pri-blue" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
