<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eclectic Stories - @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SelfMade.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
</head>
<body class="bg-half-white">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand mx-lg-5 mx-md-4 mx-sm-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/EclecticStoriesBanner.png" alt="Logo" style="height: 40px;" />
                </a>

                <ul class="navbar-nav flex-row d-none d-sm-flex me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-dark" asp-area="" asp-controller="Library" asp-action="Index">
                            <i class="bi bi-journals me-2" style="color: #004aad;"></i>
                            <span class="d-none d-md-inline" style="color: #004aad;">Library</span>
                        </a>
                    </li>
                </ul>

                <div class="d-flex align-items-center">
                    <partial name="_UserLayoutPartial" />
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main">
            @await Html.PartialAsync("~/Views/Shared/_PopUpPartial.cshtml")
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container d-flex justify-content-center align-items-center flex-column">
            <div>
                &copy; 2024 - Eclectic Stories -
                <a href="https://github.com/FelipeRochaMartins/EclecticStories" target="_blank" class="text-decoration-none text-muted">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
