@if (TempData["info"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Information: </strong>@TempData["content"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error: </strong>@TempData["content"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["warning"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning: </strong>@TempData["content"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success: </strong>@TempData["content"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}