@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="d-flex justify-content-between align-items-center me-3">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="d-flex align-items-center">
            <span class="me-2">Welcome, @UserManager.GetUserName(User)!</span>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Account" asp-action="AdminArea" class="text-dark text-decoration-none fs-5">
                            <li class="dropdown-item">Enter Admin Area</li>
                        </a>
                    }

                    <a asp-controller="Account" asp-action="Profile" class="text-dark text-decoration-none fs-5">
                        <li class="dropdown-item">Profile</li>
                    </a>

                    <a asp-controller="MyHistory" asp-action="Index" class="text-dark text-decoration-none fs-5">
                        <li class="dropdown-item">Favorites</li>
                    </a>

                    <a asp-controller="Account" asp-action="Logout" class="text-dark text-decoration-none fs-5">
                        <li class="dropdown-item">Logout</li>
                    </a>

                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex">
            <a class="btn btn-primary me-2" asp-controller="Account" asp-action="Register">Register</a>
            <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
        </div>
    }
</div>
