<div class="container mt-5 col-12 col-md-8 col-lg-6">
    <div class="card border-blue">
        <div class="card-header text-center" style="background-color: #f8f9fa;">
            <h4 class="card-title" style="color: #ff0000;">Access Denied</h4>
        </div>
        <div class="card-body text-center">
            <p>The service you are trying to access is restricted.</p>
        </div>
    </div>
</div>
